/* general */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body{
  font-family: 'Roboto', sans-serif;
}

* {-webkit-font-smoothing: antialiased;}



.project-vid-small {
    width: 410px;
    display: block;
    margin: auto;
    padding-right: 70px;
    overflow: hidden;
}

p, ul li{
  font-size: 14px;
  font-weight: normal;
  color: #333;
  letter-spacing: 0.5px;
}

p a{
  text-decoration: none;
  color: #3aafff;
}

p a:hover{
  text-decoration: none;
  color: #3aafff;
  opacity: 0.8;
}

h1{
  font-size: 28px;
  font-weight: 600;
  color: #000;
  letter-spacing: 0.8px;
  line-height: 1.6;
}

a:hover{
  text-decoration: none;
}

h2{
  font-size: 28px;
  font-weight: 600;
  color: #000;
  letter-spacing: 0.8px;
  line-height: 1.6;
}

h3{
  font-size: 16px;
  font-weight: 700;
  color:#ffab06;
  margin-top: 60px;
}

hr{
  margin: 50px 0px 50px 0px;
}

strong{
  color: #333;
  font-size: 18px;
}



.bold{
  font-weight: 600;
}

.small{
  font-size: 13px;
}

.article-text .annotation{
  font-size: 14px;
  color: #aaa;
}

/* general */

/* navi */

.navi{
  position: fixed;
  width: 25%;
  padding-top: 50px;
  padding-left: 5%;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #afafaf;
  z-index: 5;
}

.navi ul{
  list-style-type: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.navi ul li{
  display: inline-block;
  padding-right: 30px;
  color: #afafaf;
}

.navi .highlighted-text{
  color: #3aafff;
  text-transform: uppercase;
}

.navi ul li:hover{
  opacity: 0.7;
}

.highlighted-text{
  color: #3aafff;
  text-transform: uppercase;

}

/* navi */

/* sidebar */

.sidebar{
  position: fixed;
  width: 32%;
  height: 100%;
  padding-left:5%;
  padding-right: 5%;
  padding-top:350px;
}

.logo{
  width: 60px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.logo:hover{
  opacity: 0.7;
}

.greeting{
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
}

.profile-text{
  font-size: 18px;
  font-weight: 300;
  color: #000;
  margin-top: 20px;
  margin-bottom: 50px;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

.grey-link{
  color: #00000f;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 0px;
}

<<<<<<< HEAD
.blue-link{
  color: #3aafff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 0px;
  padding-bottom: 3px;
}



.blue-link:hover{
  color: #3aafff;
  text-decoration: none;
  border-bottom: solid 2px #3aafff;
}

=======
>>>>>>> Layout_change
.grey-link:hover{
  color: #444;
  text-decoration: none;
  border-bottom: solid 2px #444;
}

.button{
  position: relative;
  display: inline-block;
  background-color: #fff;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 50px 15px 50px;
  border-radius: 30px;
  letter-spacing: 0px;
  cursor: pointer;
  box-shadow: 0 0 15px #ddd;
  transition: box-shadow 0.2s;
}

.button:hover{
  box-shadow: 0 0 25px #ccc;

}

.inline-img{
  width: 16px;
  margin-right: 10px;
  margin-bottom: 3px;
  fill: blue;
}

.inline-img{
  fill: blue;
}

.small-text{
  position: absolute;
  bottom: 80px;
  font-size: 14px;
  color: #aaa;
}

/* sidebar */


/* content */

.content{
  left: 32%;
  position: relative;
  display: block;
  width: 68%;
}

.content-card{
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 0px 0px 10px 0px;
  transition-duration: 0.2s;
}

.content-card:hover{
  opacity: 0.9;
  cursor: pointer;
}

.content-card img{
  width: 70%;
  margin: 80px 15% 0px 15%;
}

.content-card img:hover{
  cursor: pointer;
}

.card-1{
  background-color: #00A99D;
}

.card-2{
  background-color: #5037dc;
}

.card-3{
  background-color: #1194e0;
}

.card-4{
  background-color: #f3cb09;
}

.card-5{
  background-color: #612d91;
}

.card-6{
  background-color: #F4F4F4;
}

.index-number{
  margin-left: 80px;
  margin-top: 0px;
  color: #fff;
  font-size: 22px;
  font-weight: 800;
  line-height: 0.8;
}

.index-title{
  margin-left: 80px;
  padding-bottom: 60px;
  color: #fff;
  font-size: 14px;

}

.white-block{
  padding: 40px 90px 50px 90px;
  background-color: #fff;
  z-index: 2;
}

.brief-text{
  font-size: 16px;
  font-weight: normal;
  color: #999999;
  margin-bottom: 10px;
}

.date-text{
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 5px;
}

.title{
  font-size: 48px;
  line-height: 1;
  font-weight: 900;
  padding:0px 0px 30px 0px;
  letter-spacing: 2;
  font-family: 'Lato', sans-serif;

}

.article-brief{
  width: 800px;
  font-size: 18px;
}

/* content */

/* footer */

.footer{
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.social{
  margin-top: 20px;
}

.social-icon{
  width: 20px;
  margin-right: 10px;
}

.grey-logo{
  width: 60px;
}

.footer p, .article-footer p{
  color: #b3b3b3;
  line-height: 1.2;
  margin-top: 10px;
}

.article-footer{
  margin:100px 0px 30px 0px;
}

.small-title{
  color:#aaa;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}


/* footer */

/* max 1024 for ipad */



/* max 400 for iphone */

/* article */

.article-logo{
  width: 60px;
  cursor: pointer;
  transition-duration: 0.2s;

}

.article-logo:hover{
  opacity: 0.6;
}

.article-sidebar{
  position: fixed;
  width: 25%;
  height: 100%;
  padding-left:5%;
  padding-right: 4%;
  padding-top:150px;
  z-index: 1;
}

.background-img{
  width: 100%;
  margin: 40px 0px 40px 0px;
}

.cover-img{
  width: 60%;
  margin:0px 20% 0px 20%;
}

.gif-demo{
  width:100%;
  padding: 0px 30% 80px 20%;
}

.full-img{
  width: 100%;
  z-index: 10;
  position:relative;
  margin-bottom: 60px;
  margin-top: 30px;
}

.mid-img{
  width: 100%;
  z-index: 10;
  position:relative;
  margin-bottom: 20px;
  padding: 0px 10% 40px 10%;
  background-color: white;
}

.article-content{
  position: relative;
  display: block;
  width: 100%;
}

.article-title{
  background-color: #fff;
  padding: 30px 15% 60px 15%;
  z-index: 3;
  position: relative;
}

.article-text{
  padding: 0px 25% 20px 25%;
}

.in-page-navi{
  margin-top: 10px;
}

.anchor{
  color:#ddd;
  font-size: 13px;
  font-weight: 500;
  display: block;
  margin:10px 0px 10px 0px;
  text-transform: uppercase;
}

.anchor:hover{
  color:#3aafff;
  font-weight: 600;
  cursor: pointer;
}

.anchor-active{
  color:#3aafff;
  font-weight: 600;
}

.tags{
  margin-top: 20px;
  margin-bottom: 40px;
}

.tags span{
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2;
  color: #7b7b7b;
  margin-right: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 10px #ddd;
}

.article-card{
  position: relative;
  width: 100%;
  padding: auto;
  z-index: 2;
}

.article-text .date-text{
  font-size: 14px;
  color:#aaa;
}

.article-text p{
  margin: 20px 0px 20px 0px;
  font-size: 17px;
  color:#6d6d6d;
  line-height: 1.6;

}

.article-text ul li{
  font-size: 16px;
  color:#6d6d6d;
  line-height: 2.0;
}

.article-text ol li{
  font-size: 16px;
  color:#6d6d6d;
  line-height: 2.0;
}

.article-text .highlighted-text{
  color: #3aafff;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0px 10px 0px;
  padding-top: 40px;
}

.other-content{
  padding: 50px 25% 60px 25%;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.other-card-1, .other-card-2{
  position: relative;
  width: 49%;
  display: inline-block;
}

.other-card-2{
  text-align: right;
}

.date-text{
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 5px;
}

@media only screen and (max-width: 1200px){
  .article-content{
    left: 0%;
    width: 100%;
  }

  .article-sidebar{
    display: none;
  }

  .article-text{
    padding: 50px 5% 30px 5%;
  }

  .other-content{
    padding: 50px 10% 60px 10%;
  }
}

@media only screen and (max-width: 1200px){
  .navi{
    padding-left: 10%;
    width: 100%;
  }

  .sidebar{
    position: relative;
    width: 100%;
    height:auto;
    padding-left:10%;
    padding-right: 40%;
    padding-top:120px;
<<<<<<< HEAD
    padding-bottom: 0px;
=======
>>>>>>> Layout_change
  }

  .content{
    left: 0%;
    width: 100%;
  }

  .small-text{
    position: relative;
    margin-top: 150px;
  }

  .profile-text{
    font-size: 16px;
    margin-bottom: 20px;
  }

}

/* max 1024 for ipad */

/* max 400 for iphone */

@media only screen and (max-width: 700px){

  h1{
    font-size: 18px;
    line-height: 1.5;
  }

  h2{
    font-size: 18px;
    line-height: 1.5;
    margin-top: 30px;
  }

  p{
    font-size: 18px;
  }

  .article-card{
    height: 400px;
  }


  .title{
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .article-title{
    padding: 30px 3% 30px 3%;
  }

  .article-brief{
    font-size: 16px;
  }

  .tags{
    display: none;
  }

  .article-text .highlighted-text {
    font-size: 14px;
  }

  .article-text p{
    font-size: 16px;
  }

  .article-text ul li{
    font-size: 16px;
  }

  .background-img{
    margin-top: 20px;
  }



  .navi{
    padding-left: 10%;
    width: 100%;
  }

  .sidebar{
    height:auto;
    padding-left:10%;
    padding-right: 10%;
    padding-top:60px;
  }

  .button{
    font-size: 16px;
    font-weight: 700;
    padding: 10px 40px 10px 40px;
  }

  .small-text{
    margin-top: 120px;
    font-size: 12px;
  }

  .content{
    padding-bottom: 0px;
  }

  .title{
    font-size: 24px;
    line-height: 1;
  }

  .content-card{
    width: 100%;
    margin-bottom: 0px;
  }

  .other-card-1, .other-card-2{
    width: 100%;
    margin-bottom: 10px;
  }

  .footer{
    width: 100%;
    text-align: center;
  }

  .content-card img{
    width: 70%;
    margin-top: 80px;
  }

  .index-number{
    margin-left: 60px;
    margin-top: 40px;
    font-size: 24px;
  }

  .index-title{
    margin-left: 60px;
    padding-bottom: 60px;
    font-size: 14px;
  }

  .white-block{
    padding: 30px 30px 40px 30px;
    background-color: #fff;
    z-index: 2;
  }

  .date-text{
    font-size: 14px;
    font-weight: 500;
    color: #1a1a1a;
    margin-bottom: 5px;
  }

  .article-text{
    padding: 20px 3% 20px 3%;
  }

}


/* article */
